*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: visible; 
  }

.flex-center {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .dropzone {
    border: 2px dashed #d1d5db; 
    border-radius: 0.5rem; 
    cursor: pointer;
    height: 10rem; 
    background-color: #f9fafb; 
}
  

  .text-center {
    text-align: center;
  }
  
  .text-gray {
    color: #6b7280; 
  }
  
  .font-semibold {
    font-weight: 600; 
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-xs {
    font-size: 0.75rem; 
  }
  
  .icon {
    width: 2rem; 
    height: 2rem; 
    margin-bottom: 1rem; 
  }
  
  /* Label Styles */
  .label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem; 
  }
  
.preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.preview-image{
    width: 100px;
    height: 100px;
}



.item{
    display: flex;
    flex-direction: column;
}

/* .item-input {
    max-width: 90px;
    margin-top: 5px;
} */

/* .item-label {
    font-weight: 500;
} */

button {
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: #2563eb;
}
  
.form-group {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.block-label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #111827;
}

.input-field {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: #111827;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  padding: 10px 10px;
  width: 60%;
}

.input-field:focus {
  outline-color: #2563eb;
  border-color: #2563eb;
}

.input-field::placeholder {
  color: #9ca3af;
}
